RewriteEngine on

# $1 is a variable that will be replaced by those inside () regex

RewriteRule ^(index|contact|registration|login)$ $1.php [NC,L]

RewriteRule ^(forgot)$ $1.php?token=. [NC,L]

RewriteRule ^post/(\d+)$ post.php?p_id=$1

RewriteRule ^category/(\d+)$ category.php?c_id=$1

RewriteRule ^author/(\w+)$ author.php?author=$1 [NC,L]